---
import FlagToggle from "./FlagToggle.astro";
import ThemeToggle from "./ThemeToggle.astro";
import HamburgerMenu from "./HamburgerMenu.astro";
import HeaderLinks from "./HeaderLinks.astro";

interface Props {
    language: string;
    isNotMain?: boolean;
}

const { language, isNotMain = false } = Astro.props;
const ariaLabel = language === "es" ? "Inicio" : "Home";
---

<header class="w-full sticky top-0 z-50 bg-gray-50/75 dark:bg-gray-950/75">
    <nav class="flex items-center px-4 py-2 text-orange-600 border-b">
        <a href={isNotMain ? `/${language}/` : "#"} class="font-semibold text-lg cursor-pointer" title={ariaLabel} aria-label={ariaLabel}>Jorge Calderita</a>

        <div class="flex-1 gap-4 justify-center font-semibold hidden md:flex">
            <HeaderLinks language={language} isNotMain={isNotMain} />
        </div>

        <HamburgerMenu language={language}>
            <HeaderLinks language={language} isNotMain={isNotMain} />
        </HamburgerMenu>

        <div class="flex items-center gap-2 ml-2">
            <div class="flex gap-4 rounded px-3 py-1">
                <FlagToggle language={language} />
                <ThemeToggle language={language} />
            </div>
        </div>
    </nav>
</header>
