---
import SocialLink from "@components/Utils/SocialLink.astro";

interface Props {
    language: string;
}

const { language } = Astro.props;

function makeText(es: string, en: string) {
    return language === "es" ? `${es}` : `${en}`;
}

const ariaFooter = makeText("Redes sociales de Jorge Calderita", "Jorge Calderita's social medias");
const ariaLinkedin = makeText("Ir al LinkedIn de Jorge Calderita", "Go to Jorge Calderita's LinkedIn");
const ariaGitHub = makeText("Ir al GitHub de Jorge Calderita", "Go to Jorge Calderita's GitHub");
const ariaX = makeText("Ir al perfil de X de Jorge Calderita", "Go to Jorge Calderita's X profile");
const ariaDiscord = makeText("Unirse al Discord de Jorge Calderita", "Join Jorge Calderita's Discord");
const ariaMail = makeText("Enviar un email a Jorge Calderita", "Send an email to Jorge Calderita");
const ariaPdf = makeText("Descargar CV en PDF", "Download portfolio in PDF format");

const pdfRoute = "/JorgeCalderita-" + language + ".pdf";
const cookieLink = "/" + language + "/cookies";
const year = new Date().getFullYear();
---

<style>
    @import "tailwindcss" reference;

    .footer {
        @apply fixed bottom-0 left-0 w-full flex flex-col items-center gap-1 text-orange-600 py-3 bg-gray-50/75 border-t z-50;
    }

    .footerLinks {
        @apply flex justify-center items-center gap-4;
    }

    .footerBottom {
        @apply text-xs flex items-center gap-2 mt-1 font-extrabold;
    }

    .footerCookie {
        @apply underline focus:outline-none focus:ring-2 focus:ring-orange-600 rounded;
    }

    :global(.dark) .footer {
        @apply bg-gray-950/75;
    }
</style>

<footer class="footer" role="contentinfo" aria-label={ariaFooter}>
    <div class="footerLinks">
        <SocialLink link="https://www.linkedin.com/in/jcalderita" label={ariaLinkedin} name="linkedin" />
        <SocialLink link="https://github.com/jcalderita" label={ariaGitHub} name="github" />
        <SocialLink link="https://x.com/jcalderita" label={ariaX} name="x" />
        <SocialLink link="https://discord.com/users/jcalderita" label={ariaDiscord} name="discord" />
        <SocialLink link="mailto:contacto@jcalderita.com" label={ariaMail} name="mail" />
        <SocialLink link={pdfRoute} label={ariaPdf} name="pdf" />
    </div>

    <div class="footerBottom">
        <span aria-hidden="true">©</span>
        {year} Jorge Calderita
        <a href={cookieLink} class="footerCookie" aria-label={language === "es" ? "Política de cookies" : "Cookie policy"}> Cookies </a>
    </div>
</footer>
