---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { getFormattedDate } from "@utils/formattedDate";
import BlogCardTitle from "./BlogCardTitle.astro";
import Badge from "../Utils/Badge.astro";

interface Props {
    language: string;
    post: CollectionEntry<"blog">;
}

const { language, post } = Astro.props;

const tags = post.data.tags;
---

<style>
    @import "tailwindcss" reference;

    .blogCard {
        @apply rounded-2xl border border-orange-700 flex flex-col my-4 hover:shadow-md transition outline-none focus:ring-2 focus:ring-orange-600 hover:text-orange-600;
    }

    .blogCardBottom {
        @apply bg-gray-100 rounded-b-2xl border-t border-orange-700 p-4 flex items-center justify-between;
    }

    .blogCardTags {
        @apply flex items-center gap-3;
    }

    .blogCardDate {
        @apply text-sm text-gray-800;
    }

    :global(.dark) .blogCardBottom {
        @apply bg-gray-950;
    }

    :global(.dark) .blogCardDate {
        @apply text-gray-300;
    }
</style>

<a href={`/${language}/blog/${post.slug}/`} class="blogCard" aria-label={post.data.title}>
    <BlogCardTitle title={post.data.title} />
    <div class="flex-1 p-0.5">
        <Image src={post.data.cover} alt={post.data.coverDescription} loading="lazy" transition:name={`${post.slug}-image`} />
    </div>
    <div class="blogCardBottom">
        <div class="blogCardTags">
            {tags.map((tag) => <Badge info={tag} dataInfo={true} />)}
        </div>
        <p class="blogCardDate">{getFormattedDate(language, post.data.date)}</p>
    </div>
</a>
