---
import BlogLayout from "@layouts/BlogLayout.astro";
import BlogCard from "./BlogCard.astro";
import TagButton from "./TagButton.astro";
import TagFilter from "./TagFilter.astro";
import { getPosts } from "@utils/blogData";

interface Props {
    language: string;
}

const { language } = Astro.props;
const posts = await getPosts(language);

posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
const allTags = Array.from(new Set(posts.flatMap((post) => post.data.tags)));
---

<BlogLayout language={language} title="Blog">
    <div class="flex flex-wrap gap-2 mb-8">
        <TagButton language={language} tag="all" />
        {allTags.map((tag) => <TagButton language={language} tag={tag} />)}
    </div>
    <div id="posts-list" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {posts.map((post) => <BlogCard language={language} post={post} />)}
    </div>
    <TagFilter />
</BlogLayout>
