---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { getFormattedDate } from "@utils/formattedDate";
import Badge from "../Utils/Badge.astro";

interface Props {
    language: string;
    post: CollectionEntry<"blog">;
}

const { language, post } = Astro.props;

const tags = post.data.tags;
---

<a
    href={`/${language}/blog/${post.slug}/`}
    class="group rounded-2xl border border-orange-700 flex flex-col my-4 hover:shadow-md transition outline-none focus:ring-2 focus:ring-orange-600 hover:text-orange-600"
    aria-label={post.data.title}
>
    <div class="bg-gray-150 dark:bg-gray-950 rounded-t-2xl border-b border-orange-700 p-4">
        <span class="font-bold text-lg">
            {post.data.title}
        </span>
    </div>
    <div class="flex-1 p-0.5">
        <Image src={post.data.cover} alt={post.data.coverDescription} loading="lazy" transition:name={`${post.slug}-image`} />
    </div>
    <div class="bg-gray-150 dark:bg-gray-950 rounded-b-2xl border-t border-orange-700 p-4 flex items-center justify-between">
        <div class="flex items-center gap-3">
            {tags.map((tag) => <Badge info={tag} />)}
        </div>
        <p class="text-sm text-gray-500">{getFormattedDate(language, post.data.date)}</p>
    </div>
</a>
