---
import "../styles/global.css";
import type { PortfolioType } from "@types/PortfolioSchema";
import DiplomaModal from "../utils/DiplomaModal.astro";
import Header from "@components/Header/Header.astro";
import Role from "@components/Portfolio/Role.astro";
import Experiences from "@components/Portfolio/Experiences.astro";
import Project from "@components/Portfolio/Projects.astro";
import Footer from "@components/Footer/Footer.astro";
import Head from "@components/Common/Head.astro";
import MainMeta from "@components/Meta/MainMeta.astro";

interface Props {
    portfolio: PortfolioType;
}

const { portfolio } = Astro.props;
const { metadata } = portfolio;

function makeTitle(es: string, en: string) {
    return metadata.language === "es" ? `${es}` : `${en}`;
}

const jobTitle = makeTitle("Trabajos", "Jobs");
const educationTitle = makeTitle("Educación", "Education");
const projectTitle = makeTitle("Proyectos", "Projects");
---

<!doctype html>
<html lang={metadata.language}>
    <Head title={metadata.webTitle}>
        <MainMeta language={metadata.language} title={metadata.title} description={metadata.description} />
    </Head>
    <body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-300">
        <Header language={metadata.language} links={[jobTitle, educationTitle, projectTitle]} />
        <main class="mx-auto w-full max-w-screen-xl px-2 grid grid-cols-12 pb-12">
            <div class="col-start-1 col-span-12 md:col-start-1 md:col-span-12 lg:col-start-2 lg:col-span-10">
                <Role role={portfolio.role} introduction={portfolio.introduction} />
                <Experiences title={jobTitle} experiences={portfolio.jobs} language={metadata.language} />
                <Experiences title={educationTitle} experiences={portfolio.education} language={metadata.language} />
                <Project title={projectTitle} , projects={portfolio.projects} />
            </div>
        </main>
        <Footer language={metadata.language} />
        <DiplomaModal />
    </body>
</html>
